apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  registries.conf: |
    registries:
      - name: Docker Hub
        api_url: https://registry-1.docker.io
        prefix: docker.io
        default: true
      
  git.commit.message.template: |
    [ArgoCD Image Updater] Updated {{.AppName}} image to {{.ImageUpdated}}
  git.write-back.method: git
  git.creds: secret:github-creds

